.btn-light.dropdown-toggle::after,
.btn-dark.dropdown-toggle::after,
.btn-outlined-light.dropdown-toggle::after,
.btn-outlined-dark.dropdown-toggle::after {
  display: none;
}

.custom-dropdown-toggle {
  min-width: 4rem;
  font-size: var(--font-size-sm);
}

.sort-order-icon {
  cursor: pointer;
  border-radius: 999px;
  color: var(--text-700);
  transition: color 0.15s ease;
}

.sort-order-icon:hover {
  color: var(--gray-800);
}

.btn-dropdown {
  background-color: var(--white) !important;
}

.btn-dark.btn-dropdown {
  background-color: var(--primary-600) !important;
}

.link-light-dropdown {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--primary-500) !important;
}

.link-dark-dropdown {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--primary-400) !important;
}

.custom-dropdown-menu {
  font-size: var(--font-size-sm) !important;
  font-weight: var(--font-weight-regular) !important;
  background-color: var(--custom-dropdown-bg) !important;
  border-color: var(--custom-dropdown-border) !important;
  padding: 0.25rem;
}

.custom-dropdown-item {
  background-color: var(--custom-dropdown-bg) !important;
  color: var(--custom-dropdown-color) !important;
  border-radius: 0.25rem !important;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: auto;
}

.custom-dropdown-item:hover {
  background-color: var(--custom-dropdown-hover) !important;
  border-radius: 0.25rem !important;
  color: var(--custom-dropdown-color) !important;
}

.form-check {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.125rem;
}

.form-check-input {
  margin-top: 0;
}

.form-check-input:checked {
  background-color: var(--primary-500);
  border-color: var(--primary-600);
}
